:root{
    --white: #fff;
    --offWhite: #e3e5d8;
    --ligthGreen: #afc1b6;
    --green: #648374;
    --darkGreen: #355245;
    --grey:#4d4d4d;
}

body,
html {
  background-color: var(--offWhite);
  font-family: "Verdana", Geneva, Tahoma, sans-serif !important;
  margin: 0;
  font-size: clamp(14px,1.5vw,1.1rem);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body,
button,
html,
input,
select,
textarea {
  color: var(--grey);
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  line-height: 20px;
}

html {
  height: 100vh;
}

.container-fluid {
  width: 100vw;
  margin: 0 auto;
}

.container {
  max-width: 100vh;
  margin: 0 auto;
}

.hdr {
  background: var(--ligthGreen);
  color: var(--white);
  overflow:hidden;
  z-index: 10;
  max-height: 5rem;
  margin: 0 auto;
  position: fixed;
  margin-bottom: 4rem;
  top: 0;
}

.hdr__btn {
  border: 1px solid var(--white);
  padding: 5px;
  border-radius: 6px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  cursor: pointer;

}
.hdr__right {
  text-align: right;
  float: right;
  padding: 1.2rem 0;
  color: var(--white);
}
.hdr__right > a {
  text-decoration: none;
  color: var(--white);
}

.hdr__left {
    text-align: left;
    float: left;
    padding: 1.2rem 0;
    margin-left: 1rem;
    color: var(--white);
}
.hdr__left > a {
    text-decoration: none;
    color: var(--white);
}

#board-collection {
  margin-top: 1.2rem;
  padding-left: 0.8rem;
  display: flex;
  justify-content: flex-start;
}

#list__input {
  width: 100vw;
  height: 1.2rem;
  margin-bottom: 0.4rem;
  border: none;
  box-shadow: none;
}

.list {
  background: var(--darkGreen); /* backround colour of the list */
  padding: 1.2rem 1rem;
  margin-right: 1.2rem;
  border-radius: 0.8rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17rem;
  -ms-flex: 0 0 17rem;
  flex: 0 0 17rem;
  max-height: 100vh;
  position: relative;
  /* width: 1.5vw; */
  max-width: 17rem;
  cursor: pointer;
  /* transition: all 2s ease-out; */
  width:100vw;
  margin:1rem;
}
.list-title {
  min-height: 1.1rem;
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: bold;
  color: var(--offWhite);
  margin: 0.8rem 0;
}
.list-cards {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: all 2s ease-out; */
}

.card-form,
.list-form {
  /* transition: all 2s ease-out; */
}
.card-form__input,
.list-form__input {
  width: 98.2%;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 2rem;
  border: 1px solid #ddd;
  box-shadow: none;
  border-bottom: none;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.card-form__submit,
.list-form__submit {
  width: 100%;
  font-size: 1rem;
  color: #000;
  background: var(--ligthGreen);
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  /* transition: all 0.5s ease-in; */
  cursor: pointer;
}
.card-form__submit:hover,
.list-form__submit:hover {
  background: var(--green);
}

.card {
  background-color: var(--offWhite); /* card colour */
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 17rem;
  min-height: 1.2rem;
  position: relative;
  overflow: auto;
  height: 100%;
  padding: 6px 8px 4px;
  word-wrap: break-word;
  /* transition: all 2s ease-out; */
}

.card div {
  margin-bottom: 5px;
}

#card-edit {
  display: none;
  position: absolute;
  width: 20vw;
  z-index: 15;
  top: 3rem;
  left: 2rem;
  /* margin: 0px 0 0 -300px; */
  padding: 4rem;
  border-radius: 10px;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.9;
}
#card-edit__close {
  float: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.95;
  cursor: pointer;
}
#card-edit__close--img {
  width: 1.2rem;
  height: 1.2rem;
}
#card-edit__delete {
  float: left;
  width: 5rem;
  background-color: #dc3636;
  color: var(--white);
  opacity: 0.95;
  cursor: pointer;
}
#card-edit__submit {
  float: right;
  width: 4.5rem;
  background-color: #648374;
  color: var(--white);
  opacity: 0.95;
  cursor: pointer;
}
#card-edit__bttn {
  margin-bottom: 10px;
}
#card-edit__input--label {
  display: inline-block;
  width: 6.5rem;
  margin-right: 1.2rem;
  padding-bottom: .8rem;
}
#card-edit__title {
  width: 16vw;

}

#card-edit__input > input{
    margin-bottom: 1rem;
    background-color: var(--offWhite);
}

#board__title {
  background: #0b568b40;
  border-radius: 6px;
  font-size: 1.2rem;
  color: var(--white);
  padding: 9px 15px;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
#board__canvas {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  flex-wrap: wrap;
  justify-content: start;
}

.main{
    margin-top: 5rem;
}

@media screen and (max-width: 1100px) {  
    .main{
        margin-top: 6rem;
    }
}

@media screen and (max-width: 800px) {  
    #board-collection {
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 10px;
        justify-content: center;

    }

    #board_canvas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}



@media screen and (max-width: 400px) {
    .main{
        margin-top: 8rem;
    }

    .hdr__right {
        width: 100vw;
        text-align: center;
        float: none;
        padding: 20px 0;
        color: var(--white);
    }
    .hdr__right > a {
        text-decoration: none;
        color: var(--white);
    }
    
    .hdr__left {
        width: 100vw;
        text-align: center;
        float: ceneter;
        padding: 20px 0;
        color: var(--white);
    }
    .hdr__left > a {
        text-decoration: none;
        color: var(--white);
    }
    .hdr {
        background: #afc1b6;
        color:var(--white);
        overflow:hidden;
        z-index: 10;
        max-height: 100vh;
        margin: 0 auto;

    }
    .hdr__btn {
        border: 1px solid var(--white);
        padding: 5px;
        border-radius: 3px;
        margin-right: 10px;
        margin-left: 10px;
        width: 3.1rem;
    }

    #board-collection {
        margin-top: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 10px;
        justify-content: center;

    }
    
    #board_canvas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    
}

