:root{
    --white: #fff;
    --offWhite: #e3e5d8;
    --ligthGreen: #afc1b6;
    --green: #648374;
    --darkGreen: #355245;
}

body,
html {
  background-color: var(--offWhite);
  font-family: "Verdana", Geneva, Tahoma, sans-serif !important;
  margin: 0;
  font-size: clamp(14px,1.5vw,1.1rem);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body,
button,
html,
input,
select,
textarea {
  color: #4d4d4d;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  line-height: 20px;
}

html {
  height: 100%;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.hdr {
  background: var(--ligthGreen);
  color: var(--white);
  overflow:hidden;
  z-index: 10;
  max-height: 80px;
  margin: 0 auto;
}

.hdr__img {
  padding: 10px 0;
  max-height: 60px;
  max-width: 300px;
  float: left;
  width: 50%;
  cursor: pointer;
}

.hdr__btn {
  border: 1px solid var(--white);
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 10px;
}
.hdr__right {

  text-align: right;
  float: right;
  padding: 20px 0;
  color: var(--white);
}
.hdr__right > a {
  text-decoration: none;
  color: var(--white);
}

.hdr__left {
    text-align: left;
    float: left;
    padding: 20px 0;
    color: var(--white);
}
.hdr__left > a {
    text-decoration: none;
    color: var(--white);
}

#board-collection {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10px;
}

#list__input {
  width: 100%;
  height: 22px;
  margin-bottom: 5px;
  border: none;
  box-shadow: none;
}

.list {
  background: var(--darkGreen); /* backround colour of the list */
  padding: 10px 15px;
  margin-right: 20px;
  border-radius: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 270px;
  -ms-flex: 0 0 270px;
  flex: 0 0 270px;
  max-height: 100%;
  position: relative;
  /* width: 1.5vw; */
  max-width: 270px;
  cursor: pointer;
  transition: all 2s ease-out;
  width:100%;
}
.list-title {
  min-height: 19px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: var(--offWhite);
  margin: 10px 0;
}
.list-cards {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: all 2s ease-out; */
}

.card-form,
.list-form {
  /* transition: all 2s ease-out; */
}
.card-form__input,
.list-form__input {
  width: 98.2%;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 36px;
  border: 1px solid #ddd;
  box-shadow: none;
  border-bottom: none;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: 8px;
}
.card-form__submit,
.list-form__submit {
  width: 100%;
  font-size: 16px;
  color: #000;
  background: var(--ligthGreen);
  padding: 8px 20px;
  border-radius: 10px;
  /* transition: all 0.5s ease-in; */
  cursor: pointer;
}
.card-form__submit:hover,
.list-form__submit:hover {
  background: var(--green);
}

.card {
  background-color: var(--white); /* card colour */
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  overflow: visible;
  height: 100%;
  padding: 6px 8px 4px;
  /* transition: all 2s ease-out; */
}

.card div {
  margin-bottom: 5px;
}

#card-edit {
  display: none;
  position: absolute;
  width: 20vw;
  z-index: 15;
  top: 3rem;
  left: 2rem;
  /* margin: 0px 0 0 -300px; */
  padding: 4rem;
  border-radius: 10px;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.9;
}
#card-edit__close {
  float: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.95;
  cursor: pointer;
}
#card-edit__close--img {
  width: 1.2rem;
  height: 1.2rem;
}
#card-edit__delete {
  float: left;
  width: 5rem;
  background-color: #dc3636;
  color: var(--white);
  opacity: 0.95;
  cursor: pointer;
}
#card-edit__submit {
  float: right;
  width: 70px;
  background-color: #648374;
  color: var(--white);
  opacity: 0.95;
  cursor: pointer;
}
#card-edit__bttn {
  margin-bottom: 10px;
}
#card-edit__input--label {
  display: inline-block;
  width: 6.2rem;
  margin-right: 1.2rem;
  padding-bottom: .8rem;
}
#card-edit__title {
  width: 16vw;

}

#card-edit__input > input{
    margin-bottom: 1rem;
}

#board__title {
  background: #0b568b40;
  border-radius: 6px;
  font-size: 1.2rem;
  color: var(--white);
  padding: 9px 15px;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
#board__canvas {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .hdr__right {
        width: 100%;
        text-align: center;
        float: none;
        padding: 20px 0;
        color: var(--white);
    }
    .hdr__right > a {
        text-decoration: none;
        color: var(--white);
    }
    
    .hdr__left {
        width: 100%;
        text-align: center;
        float: ceneter;
        padding: 20px 0;
        color: var(--white);
    }
    .hdr__left > a {
        text-decoration: none;
        color: var(--white);
    }
    .hdr {
        background: #afc1b6;
        color:var(--white);
        overflow:hidden;
        z-index: 10;
        max-height: 100%;
        margin: 0 auto;

    }
    .hdr__btn {
        border: 1px solid var(--white);
        padding: 5px;
        border-radius: 3px;
        margin-right: 10px;
        margin-left: 10px;
        width: 3.1rem;
    }

    #board-collection {
        margin-top: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 10px;
    }
    
    #board{
        display: flexbox;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        flex-direction: row;
        
    }
}